<h3>Add A New Addon</h3>
<form action="/snowboards/<%= @snowboard.id %>" method="POST">
  <input type="text" class="form-control" name="name" placeholder="Name">
  <input type="text" class="form-control" name="kind" placeholder="Kind">
  <br><br>
  <input type="submit" class="btn btn-primary" value="submit">
</form>
