<h1>All Snowboards</h1>
<% @snowboards.each do |snowboard| %>
  <h2><a href="/snowboards/<%= snowboard.id %>"><%= snowboard.title %></a></h2>
<% end %>
<button class="btn btn-default"><a href="/snowboards/new">Create A New Snowboard</a></button>
