<h3>Sell Your Snowboard</h3>
<form action="/snowboards" method="POST">
  <input type="text" class="form-control" name="name" placeholder="Name">
  <input type="text" class="form-control" name="brand" placeholder="Brand">
  <input type="text" class="form-control" name="price" placeholder="Price">
  <br><br>
  <input type="submit" class="btn btn-primary" value="submit">
</form>
