
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>BoardsList</title>

</head>
<h1>BoardsList</h1>
<button class="btn btn-default"><a href="/snowboards">Snowboards</a></button>
<button class="btn btn-default"><a href="/login">Log In</a></button>
<button class="btn btn-default"><a href="/logout">Log Out</a></button>
<button class="btn btn-default"><a href="/signup">Sign Up</a></button>

  <%= yield %>

</body>

</html>
